* {
    margin: 0; padding: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#paragraph {
    width: 200px;
    height: 50px;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}